.cta{
    border: none;
    font-family: inherit;
    background-color: $color-cyan;
    color: white;
    font-size: inherit;
    padding: .5rem 1.5rem;
    border-radius: 50rem;
    cursor: pointer;
    
    &:hover:not(:disabled):not(.copied){
        background-color: lighten($color-cyan, 15%);
    }

    &:disabled,
    &.copied{
        cursor: not-allowed;
    }

}