.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 1rem 0;
    position: relative;
    z-index: 2000;

    @media screen and (min-width: $bp-large) {
        display: flex;
        align-items: center;
    }

    img{
        @media screen and (min-width: $bp-large) {
            margin-right: 1.5rem;
        }
    }

    &__hamburger{
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;

        @media screen and (min-width: $bp-large) {
            display: none;
        }
    }

    &__list{
        position: absolute;
        top: 100%;
        background-color: $color-dark-violet;
        color: white;
        text-align: center;
        width: 100%;
        border-radius: 15px;
        padding: 1rem 2rem 2rem 2rem;
        transform: scaleY(0);
        transform-origin: top left;
        transition: transform .2s;
        
        @media screen and (min-width: $bp-large) {
            position: static;
            transform: scaleY(1); 
            background-color: white;
            display: flex;
            padding: 0;
            justify-content: space-between;
        }
    }

    &__item{

        @media screen and (min-width: $bp-large) {
            display: inline-block;   
            margin-left: 1rem;
        }
    }

    &__list.active{
        transition: transform .2s;
        transform: scaleY(1);
    }

    &__list.active &__item &__link{
        transition: opacity .2s .2s;
        opacity: 1;
    }

    &__list.active hr{
        transition: opacity .2s .2s;
        opacity: 1;
    }
    
    hr{
        color: rgba($color-gray, .25);

        @media screen and (min-width: $bp-large) {
            display: none;
        }
    }

    hr, 
    &__link{
        opacity: 0;
    }

    &__link{
        display: inline-block;
        padding: 1rem 0;

        

        @media screen and (min-width: $bp-large) {
            &:hover:not(.cta){
                color: $color-dark-violet;
            }
            opacity: 1;
            color: $color-grayish-violet; 
        }
    }
}